.leader {
    width: 100%;
    font-size: 25px;
    height: 80px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    color: white;
    background-color: #198754;
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
}

.leader .leader-index {
    position: absolute;
    left: 15px;
    top: -7px;
    font-size: 60px;
}

.leader .leader-name {
    margin-top: 20px;
}

.leader .leader-stats {
    position: absolute;
    right: 5px;
    font-size: 20px;
}

.leader .leader-barrels {
    position: absolute;
    right: 5px;
    bottom: 0;
    font-size: 20px;
}